<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real-time Monitoring</title>
  <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>
  <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
</head>

<body>
  <div class="top">
		<a href="/">Home</a>
		<a class="active" href="monitor">Monitor</a>
		<a href="summary">Summary</a>
	</div>
	
  <h1><font size="32"> Driver behaviour real time monitoring application</font> </h1>
	<br>
	
  <div id="container0" style="min-width:400px;height:400px"></div>
  <div id="container1" style="min-width:400px;height:400px"></div>
  <div id="container2" style="min-width:400px;height:400px"></div>
  <div id="container3" style="min-width:400px;height:400px"></div>
  <div id="container4" style="min-width:400px;height:400px"></div>
  <div id="container5" style="min-width:400px;height:400px"></div>
  <div id="container6" style="min-width:400px;height:400px"></div>
  <div id="container7" style="min-width:400px;height:400px"></div>
  <div id="container8" style="min-width:400px;height:400px"></div>
  <div id="container9" style="min-width:400px;height:400px"></div>
</body>

<script type="text/javascript">
$(function () {
  $.getJSON('/data', function (data) {
    // Create the charts
    var driver1='likun1000003', driver2='duxu1000009', driver3='shenxian1000004', driver4='zengpeng1000000', driver5='hanhui1000002';
    var driver6='panxian1000005', driver7='xiexiao1000001', driver8='xiezhi1000006', driver9='zouan1000007', driver0='haowei1000008';
    
    const updateTime = 30000;
    const alertDriver = false; // Set this to false if you don't want alert() in broswer; true if you want it

    var results;
    setInterval(function () {
      $.getJSON("/data", function (res) {
        results = res;
        //console.log(results);
        $('#container0').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container0').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver0){
                    console.log("matched user: "+driver0);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver0+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver0
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container1').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container1').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver1){
                    console.log("matched user: "+driver1);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver1+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver1
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container2').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container2').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver2){
                    console.log("matched user: "+driver2);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver2+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver2
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container3').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container3').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver3){
                    console.log("matched user: "+driver3);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver3+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver3
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container4').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container4').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver4){
                    console.log("matched user: "+driver4);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver4+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver4
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container5').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container5').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver5){
                    console.log("matched user: "+driver5);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver5+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver5
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container6').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container6').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver6){
                    console.log("matched user: "+driver6);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver6+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver6
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container7').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container7').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver7){
                    console.log("matched user: "+driver7);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver7+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver7
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container8').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container8').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver8){
                    console.log("matched user: "+driver8);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver8+" is speeding!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver8
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        $('#container9').highcharts('StockChart', {
          chart: {
            events: {
              load: function () {
                var chart = $('#container9').highcharts();
                var series = chart.series[0];
                //2 seconds interval
                $.each(res, function (i, v) {
                  if (v[1] == driver9){
                    console.log("matched user: "+driver9);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver9+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
                  


              }
            }
          },
          rangeSelector : {
            selected : 1
          },
          title : {
            text : driver9
          },
          series : [{
            name : 'Real-time Speed',
            data : data,
            tooltip: {
              valueDecimals: 2
            }
          }]

        });
        
      });
    }, updateTime);

    /*
    $('#container0').highcharts('StockChart', {
      chart: {
        events: {
          load: function () {
            //var driver = 'hanhui1000002';
            var chart = $('#container0').highcharts();
            var series = chart.series[0];
            //2 seconds interval
            setInterval(function () {
              $.getJSON("/data", function (res) {
                $.each(res, function (i, v) {
                  if (v[1] == driver0){
                    console.log("matched user: "+driver0);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver0+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
              });
            }, updateTime);


          }
        }
      },
      rangeSelector : {
        selected : 1
      },
      title : {
        text : driver0
      },
      series : [{
        name : 'Real-time Speed',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]

    });
    $('#container1').highcharts('StockChart', {
      chart: {
        events: {
          load: function () {
            //var driver = 'hanhui1000002';
            var chart = $('#container1').highcharts();
            var series = chart.series[0];
            //2 seconds interval
            setInterval(function () {
              $.getJSON("/data", function (res) {
                $.each(res, function (i, v) {
                  if (v[1] == driver1){
                    console.log("matched user: "+driver1);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver1+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                    else{
                      series.update({
                          color: 'green'
                      });
                    }
                  }
                });
              });
            }, updateTime);


          }
        }
      },
      rangeSelector : {
        selected : 1
      },
      title : {
        text : driver1
      },
      series : [{
        name : 'Real-time Speed',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]

    });
    $('#container2').highcharts('StockChart', {
      chart: {
        events: {
          load: function () {
            //var driver = 'hanhui1000002';
            var chart = $('#container1').highcharts();
            var series = chart.series[0];
            //2 seconds interval
            setInterval(function () {
              $.getJSON("/data", function (res) {
                $.each(res, function (i, v) {
                  if (v[1] == driver2){
                    console.log("matched user: "+driver2);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver2+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                  }
                });
              });
            }, updateTime);


          }
        }
      },
      rangeSelector : {
        selected : 1
      },
      title : {
        text : driver2
      },
      series : [{
        name : 'Real-time Speed',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]

    });
    $('#container3').highcharts('StockChart', {
      chart: {
        events: {
          load: function () {
            //var driver = 'hanhui1000002';
            var chart = $('#container3').highcharts();
            var series = chart.series[0];
            //2 seconds interval
            setInterval(function () {
              $.getJSON("/data", function (res) {
                $.each(res, function (i, v) {
                  if (v[1] == driver3){
                    console.log("matched user: "+driver3);
                    series.addPoint(v[2]);
                    if (v[3] == 1 || v[5] == 1){
                      series.update({
                          color: 'red'
                      });
                      if (alertDriver == true){
                        //chart.color = 'red';
                        alert("User: "+driver3+" is speeding up!");
                        //console.log("warned");
                      }
                      console.log("warned");
                    }
                  }
                });
              });
            }, updateTime);


          }
        }
      },
      rangeSelector : {
        selected : 1
      },
      title : {
        text : driver3
      },
      series : [{
        name : 'Real-time Speed',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]

    });
  */
    
  });

});
</script>
</html>



