<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Real-time Monitoring</title>
  <script src="http://cdn.hcharts.cn/jquery/jquery-1.8.3.min.js"></script>
  <script src="http://cdn.hcharts.cn/highstock/highstock.js"></script>
  <script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>
</head>

<body>
  <h1>Real-time driving speed</h1>
  <div id="container0" style="min-width:400px;height:400px"></div>
  <div id="container1" style="min-width:400px;height:400px"></div>
  <div id="container2" style="min-width:400px;height:400px"></div>
  <div id="container3" style="min-width:400px;height:400px"></div>
  <div id="container4" style="min-width:400px;height:400px"></div>
  <div id="container5" style="min-width:400px;height:400px"></div>
  <div id="container6" style="min-width:400px;height:400px"></div>
  <div id="container7" style="min-width:400px;height:400px"></div>
  <div id="container8" style="min-width:400px;height:400px"></div>
  <div id="container9" style="min-width:400px;height:400px"></div>
</body>

<script type="text/javascript">
$(function () {
  $.getJSON('/data', function (data) {
    // Create the chart
    $('#container0').highcharts('StockChart', {
      chart: {
        events: {
          load: function () {
            var chart = $('#container0').highcharts();
            var series = chart.series[0];
            //30 seconds interval
            setInterval(function () {         
              $.getJSON("/data", function (res) {
                $.each(res, function (i, v) {
                  series.addPoint(v);
                });
              });
            }, 30000);
          }
        }
      },
      rangeSelector : {
        selected : 1
      },
      title : {
        text : 'Real-time Monitoring'
      },
      series : [{
        name : 'Real-time Number',
        data : data,
        tooltip: {
          valueDecimals: 2
        }
      }]
    });
  });
});
</script>
</html>



